<a href="https://colab.research.google.com/github/owaishalam/DMDW_LAB/blob/main/DMDW_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

In [ ]:
import pandas as pd
data={'Gender':['F','M','M'],'Emp_ID':['E01','E02','E03'],'Age':[25,27,25]}
df=pd.DataFrame(data, columns=['Emp_ID','Gender','Age'])
print(df)

  Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25

In [ ]:
import pandas as pd
data={'Gender':['F','M','M'],'Emp_ID':['E01','E02','E03'],'Age':[25,27,25]}
df=pd.DataFrame(data)
df

  Gender Emp_ID  Age
0      F    E01   25
1      M    E02   27
2      M    E03   25

In [ ]:
import pandas as pd
url="https://gist.githubusercontent.com/jwalsh/ce1dc0436aba5b7a5c9666f47fa5a380/raw/5ce3854392b43ff97907112d344fc008229b0445/titanic.csv"
df1=pd.read_csv(url)
df1.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
0            1         0       3  ...   7.2500   NaN        S
1            2         1       1  ...  71.2833   C85        C
2            3         1       3  ...   7.9250   NaN        S
3            4         1       1  ...  53.1000  C123        S
4            5         0       3  ...   8.0500   NaN        S

[5 rows x 13 columns]

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving titanic.csv to titanic.csv

In [ ]:
import pandas as pd
from google.colab import files
uploaded=files.upload()
df=pd.read_csv("titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
0            1         0       3  ...   7.2500   NaN        S
1            2         1       1  ...  71.2833   C85        C
2            3         1       3  ...   7.9250   NaN        S
3            4         1       1  ...  53.1000  C123        S
4            5         0       3  ...   8.0500   NaN        S

[5 rows x 13 columns]

In [ ]:
import pandas as pd
from google.colab import files
df=pd.read_csv("titanic.csv")
print(df.head())
print(df.head(5))
print(df.tail())
print(df.tail(6))
print(df.dtypes)
print(df.columns)
print(df.values)
print(df[7:12])
print(df.loc[0:3])
print(df.T)
#print(df["Survived.length"].unique())
#print(df['Name.width'])

   PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
0            1         0       3  ...   7.2500   NaN        S
1            2         1       1  ...  71.2833   C85        C
2            3         1       3  ...   7.9250   NaN        S
3            4         1       1  ...  53.1000  C123        S
4            5         0       3  ...   8.0500   NaN        S

[5 rows x 13 columns]
   PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
0            1         0       3  ...   7.2500   NaN        S
1            2         1       1  ...  71.2833   C85        C
2            3         1       3  ...   7.9250   NaN        S
3            4         1       1  ...  53.1000  C123        S
4            5         0       3  ...   8.0500   NaN        S

[5 rows x 13 columns]
     PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
151          152         1       1  ...  66.6000    C2        S
152          153         0       3  ...   8.0500   NaN        S
153          154         0       3  ...  14.5000   NaN        S
154          155         0       3  ...   7.3125   NaN        S
155          156         0       1  ...  61.3792   NaN        C

[5 rows x 13 columns]
     PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
150          151         0       2  ...  12.5250   NaN        S
151          152         1       1  ...  66.6000    C2        S
152          153         0       3  ...   8.0500   NaN        S
153          154         0       3  ...  14.5000   NaN        S
154          155         0       3  ...   7.3125   NaN        S
155          156         0       1  ...  61.3792   NaN        C

[6 rows x 13 columns]
PassengerId      int64
Survived         int64
Pclass           int64
Lname           object
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
Index(['PassengerId', 'Survived', 'Pclass', 'Lname', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
[[1 0 3 ... 7.25 nan 'S']
 [2 1 1 ... 71.2833 'C85' 'C']
 [3 1 3 ... 7.925 nan 'S']
 ...
 [154 0 3 ... 14.5 nan 'S']
 [155 0 3 ... 7.3125 nan 'S']
 [156 0 1 ... 61.3792 nan 'C']]
    PassengerId  Survived  Pclass      Lname  ...   Ticket     Fare  Cabin  Embarked
7             8         0       3    Palsson  ...   349909  21.0750    NaN         S
8             9         1       3    Johnson  ...   347742  11.1333    NaN         S
9            10         1       2     Nasser  ...   237736  30.0708    NaN         C
10           11         1       3  Sandstrom  ...  PP 9549  16.7000     G6         S
11           12         1       1    Bonnell  ...   113783  26.5500   C103         S

[5 rows x 13 columns]
   PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
0            1         0       3  ...   7.2500   NaN        S
1            2         1       1  ...  71.2833   C85        C
2            3         1       3  ...   7.9250   NaN        S
3            4         1       1  ...  53.1000  C123        S

[4 rows x 13 columns]
                          0    ...                 155
PassengerId                 1  ...                 156
Survived                    0  ...                   0
Pclass                      3  ...                   1
Lname                  Braund  ...            Williams
Name          Mr. Owen Harris  ...   Mr. Charles Duane
Sex                      male  ...                male
Age                        22  ...                  51
SibSp                       1  ...                   0
Parch                       0  ...                   1
Ticket              A/5 21171  ...            PC 17597
Fare                     7.25  ...             61.3792
Cabin                     NaN  ...                 NaN
Embarked                    S  ...                   C

[13 rows x 156 columns]