<a href="https://colab.research.google.com/github/owaishalam/DMDW_LAB/blob/main/DMDW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L=[1, 2, 3, 4]
print(L)
L1=['A', 'B', 'C']
print(L1)
for x in L:
  print(x)
L[1]=5
L.sort()
print(L)

[1, 2, 3, 4]
['A', 'B', 'C']
1
2
3
4
[1, 3, 4, 5]

1. Create a list in python . Next find mean and median of the list without using any builtin library functions

In [1]:
lst = [12,35,18,9,56,24]
n = len(lst)
s = sum(lst)
mean = s/n
print("Mean is: ",mean)
lst.sort()
if n%2 == 0:
    mid1 = lst[n//2]
    mid2 = lst[n//2-1]
    meadian = (mid1+mid2)//2
else:
    median = lst[n//2]
print(meadian)

Mean is:  25.666666666666668
21

2. Create list inj python. Next find the mode of the list without using any builtin library function

In [3]:
list1=[2,3,1,1,6,2,1,5]
list1.sort()
list2 = []
res = []
for i in list1:
    list2.append(list1.count(i))
dic = dict(zip(list1,list2))
for k,v in dic.items():
    if v == max(list2):
        res.append(k)
print("Mode is: ",res)

Mode is:  [1]

3. Create a list in python. Next find the second smallest number and second highest number in the list

In [4]:
lst = [12,35,18,9,56,24]
lst.sort()
print("Second Smallest: ",lst[1])
print("Second Highest: ",lst[-2])

Second Smallest:  12
Second Highest:  35